#clock {
  position: relative;
  width: 960px;
  height: 700px;
}

#clock div {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
  font: 10px sans-serif;
}

#clock a {
  color: #fff;
  font-weight: bold;
}

#clock #agentDetail {
  position: absolute;
  top: 200px;
  left: 405px;
  color: black;
  font-size: 24px;
}
#clock #agentDetail p {
  font-size: 13px;

}


text {
  font: bold 13px sans-serif;
}
